* {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    
}

.head {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0; /* Remove any border between header and content */
    
  }
  
.head ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: whitesmoke;
  }
  
.head a {
    text-decoration: none;
    padding: 10px 15px;
    color: whitesmoke;
  }
  