/* Home.css */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    transition: background-color 2s ease, color 1s ease;
  }
  
  .plop-text {
    height: 50%;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    animation: slideIn 5s ease infinite; /* Animation with ease and forwards to keep the final state */
    transform-origin: center; /* Ensures the word moves as a whole */
    text-shadow: 7px 2px 6px rgba(0, 0, 0, 0.3);
    
  }
  
  @keyframes plopIn {
    0% {
      transform: translateX(100%); /* Start the word just off to the right of its position */
      opacity: 0; /* Start with the word invisible */
    }
    60% {
      transform: translateX(-10%); /* Slight overshoot to create a "plop" effect */
      opacity: 1; /* Fully visible */
    }
    100% {
      transform: translateX(0); /* End at the final position */
      opacity: 1; /* Fully visible */
    }
  }
  